<html>
<head>
<head lang="en">
    <title>{% block title %} Untitled {% endblock %}</title>
    <meta name="Author" content="Dan Searle" />
    <meta name="Keywords" content="{% block page_keywords %}PHP, Developer, Programmer, Coder, Barcelona, MySQL, Web Development{% endblock %}" />
    <meta name="Description" content="{% block page_description %}Dan Searle's web site{% endblock %}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfoundation/css/foundation.min.css') }}" />
</head>
<body>

{% block body %}{% endblock %}

<script type="text/javascript" src="{{ asset('bundles/bmatznerjquery/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/bmatznerfoundation/js/foundation.min.js') }}"></script>
{% block javascripts %}
{% endblock %}

</body>
</html>
