{% extends 'AppBundle::layout.html.twig' %}

{% block title %} Tweets of Interest - DanWasHere {% endblock %}

{% block body %}
<div class="row page_content">

<div class="medium-12 columns">
  <h1>Tweets of Interest</h1>

<p>Yo Tweets of Interest</p>

<div class="row">

<div class="medium-12 columns">
<div class="panel">
Show me the tweets man: {{ tweet_array }}

</div>
</div>

</div>
</div>
</div>


{% endblock %}
