{% extends 'AppBundle::layout.html.twig' %}

{% block title %} Tweets of Interest - DanWasHere {% endblock %}

{% block body %}
<div class="row page_content">

    <div class="medium-12 columns">
        <h1>Tweets of Interest</h1>

        <p>Related blog post: <a href="http://blog.danwashere.com/2015/03/05/twitter-api-1-1-facil-no/">Twitter API 1.1 … fácil, no?</a></p>

        <h2>Tweets for "empleo barcelona php"</h2>

        <div class="row">
            {% for tweet in tweet_array %}
            {{ include('@App/Includes/tweet.html.twig') }}
            {% if loop.index % 3 == 0 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}
