// See http://foundation.zurb.com/templates.html for "Portfolio Theme"

body{font-family:'Raleway',Helvetica,Arial,sans-serif;font-weight:400;background-color:rgba(0,0,0,0.02);}.button{font-family:'Raleway',Helvetica,Arial,sans-serif;}.button-group li{padding-top:3%;}.button-group a{color:rgba(0,0,0,1);background-color:transparent;}.button-group a:hover{color:rgba(0,0,0,0.4);background-color:transparent;}.button-group{float:none;}@media only screen and (min-width: 40.063em) {.button-group{float:right;}}.namelogo{padding:20px 10px 0px 10px;}@media only screen and (min-width: 40.063em) {.namelogo{padding-bottom:20px;}}.namelogo h1{font-size:1.5em;font-weight:600;text-align:center;}@media only screen and (min-width: 40.063em) {.namelogo h1{font-size:16px;text-align:left;}}@media only screen and (min-width: 64.063em) {.namelogo h1{font-size:24px;text-align:left;}}.hero{background-size:cover;box-shadow:inset 0px 0px 0 2000px rgba(0,0,0,0.15);height:80%;}.intro-text{padding-top:40%;color:rgba(255,255,255,1);text-align:center;}@media only screen and (min-width: 40.063em) {.intro-text{padding-top:25%;}}@media only screen and (min-width: 64.063em) {.intro-text{padding-top:18%;}}.intro-text p{font-family:'Shadows Into Light',cursive;font-size:44px;}.about,.work,.contact{padding:50px 0 0 0;}.about img{width:250px;height:250px;border-radius:150px;-webkit-border-radius:150px;-moz-border-radius:150px;}.work img:hover{opacity:0.5;-webkit-transition:0.3s ease;-moz-transition:0.3s ease;-ms-transition:0.3s ease;-o-transition:0.3s ease;transition:0.3s ease;}.work li{height:140px;overflow:hidden;}hr{border:0;height:1px;background-image:-webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));background-image:-moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));background-image:-ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));opacity:0.8;}footer{padding:80px 0 10px 0;}footer a:hover{color:rgba(0,0,0,0.4);background-color:transparent;}

footer {
	padding-top: 50px;
}

.hero {
	background-image: url(../pix/pebbles.jpg);
	height:220px;
}
@media only screen and (min-width: 40.063em) {.hero {
	height:350px;
}}

.page_content {
	padding:50px 0 0 0;
}

#tech-skills-bullets {
	padding:50px 0 0 0;
	font-family: 'Raleway',Helvetica,Arial,sans-serif;
}

#tech-skills-bullets ul {
	font-size:1em;
	line-height:1.2em;
}

@media only screen and (min-width: 40.063em) {
#tech-skills-bullets ul {
	font-size:1.2em;
	line-height:1.5em;
}
}


#tech-skills-bullets ul li {
	padding-bottom: 0.3rem;
}

.intro-text {
	text-shadow: 0 1px 0 #333,
	                 0 2px 0 #333,
	                 0 3px 0 #333,
	                 0 4px 0 #333,
	                 0 5px 0 #333,
	                 0 6px 0 #333,
	                 0 7px 5px rgba(0, 0, 0, 0.5);

	padding-top:43px;
}

@media only screen and (min-width: 40.063em) {.intro-text{padding-top:95px;}}

#section-contact>div>div.row>div {
	margin-top:0.3em;
}

@media only screen and (min-width: 40.063em) {#section-contact>div>div.row>div {margin-top:inherit;}}

.about img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
}

@media only screen and (min-width: 40.063em) {
.about img {
	width: 180px;
	height: 180px;
	border-radius: 90px;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
} }

@media only screen and (min-width: 64.063em) {
.about img {
	width: 250px;
	height: 250px;
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
} }
