html, body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #000000;
	width:100%;
}

body {
	font-family: Verdana, sans-serif;
	font-size: 100%;
	color: #ffffff;
	width:100%;
}

div {
	margin:0;
	padding:0;
	border:none;
}

a,
a:link,
a:visited {
	text-decoration:none;
	font-weight: bold;
	color: #000099;
}

a:hover {
	text-decoration:underline;
	color: #8888ff;
}

a:active {
	text-decoration:underline;
	color: #82004A;
}


.break {
	margin:0;
	padding:0;
	border:0;
	font-size:0.1em;
	line-height:0.1em;
	clear:both;
}