{% extends 'DanWasHereBundle::layout.html.twig' %}

{% block title %} Contact - DanWasHere {% endblock %}

{% block body %}

<h1>Contact Me</h1>

<p>Let's talk! <span class="nobr"><strong>danksearle <em>-at-</em> gmail <em>-dot-</em> com</strong></span>, <a href="https://twitter.com/danksearle">@danksearle</a>, <a href="http://es.linkedin.com/in/danksearle">LinkedIn</a>.</p>

{% endblock %}
