{% extends 'DanWasHereBundle::layout.html.twig' %}

{% block title %} Home - DanWasHere {% endblock %}

{% block body %}
<div class="row about">

	<div class="small-12 large-8 columns">
	  <h1>About</h1>
		<p>I'm Dan Searle, {{ age }}, English and a freelance developer based in Barcelona, Spain, currently focused on PHP and MySQL. In the past I've done a lot of work coding in Flash.</p>

		<p>My recent PHP dev experience is in CodeIgniter and WordPress. Currently I'm rebuilding this site in Symfony2 and Foundation 5.</p>

		<p>These are my key skills: PHP, MySQL, GIT, jQuery, HTML5. For more details and an up-to-date CV please email.</p>
	</div>
	<div class="small-12 large-4 columns">
	  <img src="{{ asset('bundles/danwashere/pix/danksearle_portrait.jpg') }}">
	</div>
</div>


{% endblock %}
